DATABASE_URL="postgresql://postgres:postgres@localhost:5432/turborepo_app?schema=public"
JWT_ACCESS_SECRET="super-secret-access-key-replace-in-production"
JWT_REFRESH_SECRET="super-secret-refresh-key-replace-in-production"

PORT=3000
